.main {
	display: grid;
	grid-template-rows: 100px 1fr 231px;
	scroll-behavior: smooth;
	background: linear-gradient(212deg, rgba(16,79,248,1) 0%, rgba(221,111,129,1) 100%);

	@media screen and (max-width: 699px) {
		background: black;
		grid-template-rows: 50px 1fr 231px;
	}	
}